html, body, #home {
	height: 100%;
	overflow-x: hidden;
}

body {
	background: url(../LaBella/imagens/fundo.png),
				url(../LaBella/imagens/ruido.png),
				linear-gradient(100deg,#29969e,#0f3e41);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
}

#pizza{
    background-attachment: fixed;
    position: fixed;
    padding: 5px 10px;
}
/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
    position: fixed;
	padding: 5px 10px;
	background: 
     rgba(243, 163, 78,1);
}

#navbar-brand{
    position: fixed;
    background-position-x: center;
    background-position-y: center;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #ff8800;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
}

.capa {
	text-align: center;
}

.btn-custom {
	color: #ff8800;
	border-radius: 500px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}



.btn-branco {
	border: 2px solid #ff8800;
}

.btn-branco:hover {
	background-color: white;
	color: black;
}


.caixa {
	padding-top: 20px;
	padding-bottom: 20px;
}

#servicos {
	background: white;
}

#recursos {
	color: white;
}

#servicos h2, h3 {
	color: #7c25f8;
}

#recursos h2 {
	color: white;
}

#recursos h3 {
	color: #9bf0e1;
}

.albuns {
	padding: 10px 0;
}

.rotacionar {
	-ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
	padding-left: 80px;
}





footer {
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}

footer h4 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #9bf0e1;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li {
	float: right;
	margin: 0 5px;
}


h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: white;
}

h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}
